#topics {
    background-image: url("../accets/images/header_background_01.jpg");
}

.headline {
    font-family: "Roboto Black", sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    padding: 15px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    color: white;
}

.text_red {
    color: red;
}

/*Footer*/
.footer {
    background-image: url("../accets/images/header_background_01.jpg");
}

.footer_info {
    display: flex;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 27px;
    padding: 10px;
    text-shadow: 2px 2px 3px black;
    justify-content: center;
    align-items: center;
}

.footer_line {
    width: 5px;
    height: 50px;
    background: white;
    margin: 10px 20px;
}