div#faq_body {
    background-image: url("../assets/background/body_games.jpg");
    padding: 10px 0;
    position: relative;
    min-height: 750px;
}

#form_for_search {
    position: relative;
    width: 720px;
    height: 60px;
    margin: 30px auto;
}

#search_input {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid gray;
    border-radius: 5px 0 0 5px;
    background: aliceblue;
    width: 515px;
    height: 53px;
    padding-left: 10px;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
}

#button_search {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 180px;
    height: 58px;
    color: white;
    border: 0;
    margin: 0;
    background: #2e2b2f;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 23px;
    font-family: "Roboto Medium", sans-serif;
}

button#button_for_turn_back {
    position: absolute;
    left: 495px;
    top: 18px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

#button_for_turn_back img {
    left: 0;
    width: 25px;
    height: 25px;
    margin: auto 0;
}

#button_search_items {
    display: flex;
    justify-content: center;
}

#img_search {
    padding-right: 10px;
}

#faq_questions {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    margin: 0 auto 30px auto;
    width: 50%;
    padding: 0 100px 15px 100px;
}

.line_question {
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
}

.question {
    font-size: 25px;
    font-family: "Roboto Medium", sans-serif;;
    color: rgb(44, 45, 55);
    line-height: 1.2;
    text-align: left;
    margin: 20px 0;
}

.answer {
    font-size: 18px;
    font-family: "Roboto", sans-serif;;
    color: rgb(44, 45, 55);
    line-height: 1.2;
    text-align: left;
    margin: 20px 0;
}


.faq_questions_text {
    font-size: 20px;
    font-family: "Roboto Medium", sans-serif;;
    color: rgb(44, 45, 55);
    line-height: 1.2;
    text-align: left;
    margin: 20px 0;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.faq_questions_answers p{
    font-size: 18px;
    font-family: "Roboto", sans-serif;;
    color: rgb(44, 45, 55);
    line-height: 1.2;
    text-align: left;
    margin: 20px 0;
}