.header {
    background-image: url("../accets/images/header_background_01.png");
}
.logo {
    margin-left: 90px;
    margin-right: 300px;
    margin-top: 5px;
}

.red_line {
    margin-left: 50px;
    margin-right: 50px;

}
body, p {
    margin: 0;
}

#menu {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    list-style: none;
    font-size: 30px;
    font-family: Roboto, Arial, sans-serif;
    color: white;
}

.header_menu {
    cursor: pointer;
    padding-top: 30px;
}

#basket {
    background-image: url("../accets/images/card.png");
    position: relative;
    margin-top: 20px;
    height: 62px;
    width: 77px;
}

.game_counter{
    display: block;
    position: absolute;
    right: 2px;
    border-radius: 9px;
    background-color: #e9b606;
    color: black;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}